.cart-top,
        .cart-bottom,
        .cart-footer {
            padding: 20px;
            background:#04855e;
            border-radius: 8px;
            margin-bottom: 10px;
            color:white;
        }
        .cart-footer h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container_custom {
            padding: 10px;
            max-width: 1050px;
            margin-left: 13px;
            margin-right: 13px;
            margin-bottom: 50px;
        }

        .navigation_btns {
            display: flex;
            justify-content: space-between;
        }

        .cart_header,
        .cart_items {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
        }

        .cart_items {
            align-items: center;
            margin-bottom: 12px;
        }
        
        .cart_header h4 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 5px;
        }

        .cart_info {
            display: flex;
            justify-content: flex-end;
        }

        .cart_info h4 {
            margin-right: 20px;
        }

        .navbar-header {
            font-family: 'Pacifico';
        }

        .fa {
            font-size: 18px;
        }

        .cart_image {
            height: 75px;
        }
        @media screen and (min-width:1200px) {
            .container_custom {
                margin-left: auto;
                margin-right: auto;
            }
        }